In [30]:
import pandas as pd

mdd = pd.read_csv("TDBRAIN_participants_V2_MDD.tsv", sep="\t")

In [31]:
healthy = pd.read_csv("TDBRAIN_participants_V2_HEALTHY.tsv",sep="\t")

In [32]:
healthy.head()

  participants_ID indication    age  gender  sessID  nrSessions
0    sub-87974617    HEALTHY    NaN     0.0     1.0         1.0
1    sub-87974621    HEALTHY    NaN     0.0     1.0         1.0
2    sub-87974665    HEALTHY  23,37     0.0     1.0         1.0
3    sub-87974709    HEALTHY  20,31     1.0     1.0         1.0
4    sub-87974841    HEALTHY  21,59     1.0     1.0         1.0

In [33]:
df = pd.concat([mdd, healthy], axis=0)

In [34]:
df.head()

,participants_ID,indication,Dataset,rTMS_PROTOCOL,age,gender,sessID,nrSessions
0,sub-87999321,MDD,MDD-rTMS,1.0,"49,66",1.0,1.0,1.0
1,sub-88000181,MDD,MDD-rTMS,3.0,"45,99",0.0,1.0,1.0
2,sub-88000313,MDD,MDD-rTMS,2.0,"35,38",0.0,1.0,1.0
3,sub-88000489,MDD,MDD-rTMS,1.0,"42,36",1.0,1.0,1.0
4,sub-88000533,MDD,MDD-rTMS,1.0,"45,14",0.0,1.0,1.0

In [36]:
df['age']=df["age"].replace(",",".",regex=True)

In [37]:
df["age"] = df["age"].astype(float)
print(df["age"].dtype)

float64

In [38]:
mean=df['age'].mean()

In [39]:
mean

np.float64(43.98882352941177)

In [40]:
df['age'] = df['age'].fillna(df['age'].mean())

np.float64(43.98882352941177)

In [41]:
df.to_csv("TDBRAIN_participants_V2_cleaned.tsv", sep="\t", index=False)

In [50]:
for col in df.columns:
    print(col)
    if col == "age":
        for val in df[col]:
            if val > 42 and val < 43:
                print(val)

participants_ID
indication
Dataset
rTMS_PROTOCOL
age
42.36
42.25
42.62
42.14
42.69
42.53
gender
sessID
nrSessions

,participants_ID,indication,Dataset,rTMS_PROTOCOL,age,gender,sessID,nrSessions
0,sub-87999321,MDD,MDD-rTMS,1.0,49.66,1.0,1.0,1.0
1,sub-88000181,MDD,MDD-rTMS,3.0,45.99,0.0,1.0,1.0
2,sub-88000313,MDD,MDD-rTMS,2.0,35.38,0.0,1.0,1.0
3,sub-88000489,MDD,MDD-rTMS,1.0,42.36,1.0,1.0,1.0
4,sub-88000533,MDD,MDD-rTMS,1.0,45.14,0.0,1.0,1.0

Mean Squared Error: 212.11
R² Score: -0.07